h1{ 
 	font-size:80px; 
 	color:red; 
 
 
 } 
 #Buy{ 
 		 
 	font-size:24px; 
 	color:red; 
 } 
 #Longboard{ 
 
 
 	height:400px; 
 	width:450px; 
 }

html { 
  background-image: url("winding.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
